//
// Quantum Script Extension ProcessInteractive
//
// Copyright (c) 2020 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-application-version--os-windows-rc.hpp"
#include "quantum-script-extension-processinteractive-version.hpp"
#include "quantum-script-extension-processinteractive-copyright.hpp"

XYO_APPLICATION_VERSION_INFO(QUANTUM_SCRIPT_EXTENSION_PROCESSINTERACTIVE,"qse-processinteractive.dll","Quantum Script Extension ProcessInteractive")

