// Quantum Script Extension ProcessInteractive
// Copyright (c) 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/ProcessInteractive/Library.rh>
#include <XYO/QuantumScript.Extension/ProcessInteractive/Copyright.rh>
#include <XYO/QuantumScript.Extension/ProcessInteractive/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_PROCESSINTERACTIVE,"quantum-script--processinteractive.dll","Quantum Script Extension ProcessInteractive")
